<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="APIBaseUrl" value="https://localhost:44360/api"/>
    <!--Uncomment below to use server less implementation-->
    <!--<add key="APIBaseUrl" value="https://getsearchrankingapp.azurewebsites.net/api"/>-->
  </appSettings>
</configuration>